<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Color Palette</title>
		<style>
			:root {
				--primary-green: #469242;
				--highlight-yellow: #ffcb02;
				--dark-maroon: #0e0407;
				--secondary-green: #489945;
				--deep-purple: #312a3a;
			}
		</style>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; gap: 10px">
			<div
				style="
					background-color: var(--primary-green);
					width: 100px;
					height: 50px;
				"></div>
			<div
				style="
					background-color: var(--highlight-yellow);
					width: 100px;
					height: 50px;
				"></div>
			<div
				style="
					background-color: var(--dark-maroon);
					width: 100px;
					height: 50px;
				"></div>
			<div
				style="
					background-color: var(--secondary-green);
					width: 100px;
					height: 50px;
				"></div>
			<div
				style="
					background-color: var(--deep-purple);
					width: 100px;
					height: 50px;
				"></div>
		</div>
	</body>
</html>

