@keyframes breatheIn {
	0% {
		font-size: 1em;
	}
	50% {
		font-size: 1.1em;
	}
	100% {
		font-size: 1em;
	}
}

.breathe-animation {
	animation: breatheIn 2s infinite alternate; /* Adjust duration and iteration as needed */
}
