/* Color Palette */
:root {
	--primary-green: #469242;
	--highlight-yellow: #ffcb02;
	--dark-yellow: #725c04;
	--black: black;
	--secondary-green: #97e995;
	--deep-purple: #312a3a;
}

/* Fonts */
body {
	font-family: 'Merriweather', serif; /* For body text */
	font-family: 'Lato', sans-serif; /* For headings */
	background-color: var(--black);
	margin: 0;
	padding: 0;
}
/* style header tiems */
.head {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
.title-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: 0;
}
.iconimg {
	width: 4em;
}
.main-title {
	display: flex;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	font-size: 2.5em;
	font-weight: bold;
	color: var(--primary-green);
	margin-bottom: 0.5em;
}

.sub-title {
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	font-style: italic;
	color: var(--secondary-green);
	margin-bottom: 0.5em;
	margin-top: 0;
	padding: 0em 1em 0em 1em;
}
.contents {
	font-family: 'Merriweather', serif;
	font-size: 1.8em;
	line-height: 3em;
	color: var(--highlight-yellow);
	margin-bottom: 1em;
	padding: 1.5em;
}

.links {
	font-family: 'Merriweather', serif;
	font-size: 1em;
	color: var(--highlight-yellow);
	text-decoration: none;
}

.links:hover {
	text-decoration: underline;
}

.equation {
	font-family: 'Courier New', monospace;
	font-size: 1.2em;
	color: var(--deep-purple);
	background-color: var(--highlight-yellow);
	padding: 0.5em;
	border-radius: 5px;
	display: inline-block;
}

/* Additional Styles */
body {
	padding: 20px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}
.nav-bar {
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modules-dropdown {
	width: 30%;
}
.modules {
	width: 100%;
}
.navitems {
	margin-right: 10px;
	margin-bottom: 8px;
	width: 30%;
}
.moduleitem {
	width: 30%;
}
button {
	padding: 10px;
	width: 30%;
	background-color: var(--highlight-yellow);
	color: var(--black);
	border-radius: 8px;
	transition: transform 0.3s ease;
}
button:hover {
	transform: scale(1.05);
}
button:active {
	transform: scale(0.8);
	background-color: var(--dark-yellow);
}
.modules-dropdown-contents {
	display: inline-block;
	position: relative;
	text-align: center;
	flex-flow: wrap;
	padding: 8px;
	margin-bottom: 8px;
	font-size: 0.8em;
	border-radius: 8px;
}

.hide-element {
	display: none;
}
@media(max-width:1031px) {
	button {
		width: 30%;
	}
	.moduleitem {
		width: 44%;
	}}


@media (max-width: 757px) {
	body {
		padding: 0;
		width: 100%;
	}
	.main-title {
		font-size: 1.5em;
		font-weight: bold;
	}
	.sub-title {
		font-size: 1em;
		margin-bottom: 0.5em;
		margin-top: 0;
		padding: 1em;
	}
	.contents {
		font-size: 1.3em;
		line-height: 1.5em;
		margin-bottom: 1em;
		padding: 0.5em;
	}
	button {
		width: 30%;
	}
	.moduleitem {
		width: 100%;
	}
}
.dropbtn {
	margin-top: 10px;
}
.shrink-navbar {
	font-size: 0.8em;
	width: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 0.5em;
}
.inactive-menu-button {
	background-color: #312a3a;
}
